{% extends "core/base.html" %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="page-header">
    <h1>Log In</h1>
</div>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url auth_login %}">
    <fieldset>
        {% csrf_token %}
        
        {% for field in form %}
        <div class="{% if field.errors %}error{% endif %}">
            {{ field.label_tag }}
            <div class="input">
                {{ field }} {{ field.errors }}
            </div>
        </div>
        {% endfor %}
        
        <p><a href="{% url auth_password_reset %}">Forgot</a> your password?  <a href="{% url registration_register %}">Need an account</a>?</p>
        <input type="submit" value="login" class="btn"/>
        <input type="hidden" name="next" value="{{ next }}" />
    </fieldset>
</form>

{% endblock %}