{% extends "core/base.html" %}
{% block title %}Change Your Password{% endblock %}
{% block extrajs %}
<script type="text/javascript">
    $().ready(function() {
        $("input#id_username").focus();
    });
</script>
{% endblock %}
{% block content %}
    <div>
                <h1>Change Your Password</h1>
                <hr />
                <form method="POST" class="" action="">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn">Reset</button>
                </form>
    </div>
{% endblock content %}