{% extends "core/base.html" %}
{% block title %}Password Reset{% endblock %}
{% block extrajs %}
<script type="text/javascript">
    $().ready(function() {
        $("input#id_username").focus();
    });
</script>
{% endblock %}

{% block content %}
    <div id="reset">
                <h1>Reset Your Password</h1>
                <hr />
                <form method="POST" class="pretty-form" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="pretty-button">Reset</button>
                </form>
    </div>
{% endblock content %}
