Django==1.4.1
Fabric==1.4.3
South==0.7.6
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.12
boto==2.5.2
celery==3.0.5
django-celery==3.0.4
django-extensions==0.9
django-registration==0.8
GitPython==0.3.2.RC1
gunicorn==0.14.6
kombu==2.3.2
pycrypto==2.6
python-dateutil==1.5
ssh==1.7.14
wsgiref==0.1.2
django-email-as-username==1.5.1
py-bcrypt==0.2
django-debug-toolbar
GitPython==0.3.2.RC1