{% extends "core/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

    <header class="jumbotron subhead" id="overview">
        <h1>Gungnir</h1>
        <p class="lead">An easy way to deploy and scale your django apps.</p>
    </header>

    <section id="how">
        <div class="page-header">
            <h1>How?</h1>
        </div>
        <div class="row">
            <div class="span4">
                <h3>Step 1: Add an Application</h3>
                <p>Herp derp - create app</p>
                <p>add a repo</p>
            </div>
            <div class="span4">
                <h3>Step 2: Create a Build Config</h3>
                <p>Herp derp</p>
            </div>
            <div class="span4">
                <h3>Step 3: Deploy!!</h3>
                <p>Herp derp</p>
            </div>
        </div>
    </section>

    <br>
    <br>
    <section id="scale">
        <div class="page-header">
            <h1>BUT HOW 2 SCALE?</h1>
        </div>
        <div class="row">
            <div class="span6">
                <h3>AMI's</h3>
                <p>l2ami, create auto scale group. gg.</p>
            </div>
        </div>
    </section>


{% endblock %}