{% extends "core/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

    <header class="jumbotron subhead" id="overview">
        <h1>Gungnir</h1>
        <p class="lead">Putting you in control of your deployments.</p>
    </header>
    <br>

    <section id="how">
        <div class="page-header">
            <h1>Manage, deploy, and scale your python apps in the cloud.</h1>
        </div>
        <div class="row">
            <div class="span4">
                <h3>Step 1: Add an Application</h3>
                <p>Gungnir makes it easy for you manage all of your apps through 1 account.</p>
                <p>Register today to get started!</p>
            </div>
            <div class="span4">
                <h3>Step 2: Create a Build Config</h3>
                <p>With the Gungnir build configuration system, you have total control over how your application instances get built.</p>
            </div>
            <div class="span4">
                <h3>Step 3: Deploy!!</h3>
                <p>Once you're happy with your build, you can roll them to your own AWS accounts and roll cloud-ready solutions in seconds!</p>
            </div>
        </div>
    </section>

    <br>
    <br>
    <section id="scale">
        <div class="page-header">
            <h1>EZmode Cloud Scaling</h1>
        </div>
        <div class="row">
            <div class="span6">
                <h3>AMI's</h3>
                <p>PUPPET! CHEF! SALT! FABRIC! HEROKU! learn to really scale with amazon without dealing with a middle man. Build an AMI like the big kids and stand up an ASG. We'll hold your hand through the hard parts.</p>
            </div>
        </div>
    </section>


{% endblock %}