{% extends "core/base.html" %}
{% block title %}Dashboard{% endblock %}

{% block navbar-left %}
    {{ block.super }}

{% endblock %}

{% block content %}
    <header class="jumbotron subhead" id="overview" xmlns="http://www.w3.org/1999/html">
        <h2>Application Dashboard</h2>
        <p>
            <a class="btn btn-inverse" href="{% url gungnir-projects-application-create %}">
            <i class="icon-plus icon-white"></i> Add Application</a>
        </p>
    </header>
    <br>
    
    {% if messages %}
        {% for message in messages %}
        <div class="alert">
          <button class="close" data-dismiss="alert">×</button>
          {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    
    {% for app in object_list %}
    <div class="page-header">
        <h2>{{ app.name }} ({{ app.get_app_type_display }})</h2>
    </div>


    <div class="row">
    <div class="span9">

        <div class="well">
            <h4>Repos</h4>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Repo URL</th>
                    <th>Watched Branch</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for  repo in app.repos.all %}
                <tr>
                    <td><a href="/projects/repo/{{ repo.id }}/">{{ repo.id }}</a></td>
                    <td>{{ repo.url }}</td>
                    <td>{{ repo.branch }}</td>
                    <td><a href="/projects/repo/update/{{ repo.id }}/"><button class="btn">Edit</button></a></td>
                    <td>
                        <form method="POST" action="/projects/repo/delete/{{ repo.id }}/">
                            {% csrf_token %}
                            <input type="submit" value="Delete" class="btn"/>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <p><a href="{% url gungnir-projects-repo-create app.pk %}"  class="btn btn-primary btn-small"><i class="icon-magnet icon-white"></i> Link Repo</a></p>
        </div>
    </div>
    </div>

    <div class="row">
    <div class="span9">
        <div class="well">
            <h4>BuildConfigs</h4>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Repo</th>
                    <th>OS</th>
                    <th>Web Server</th>
                    <th>Build Type</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for buildconfig in app.buildconfigs.all %}
                <tr>
                    <td><a href="/projects/buildconfig/{{ buildconfig.id }}/">{{ buildconfig.repo }}</a></td>
                    <td>{{ buildconfig.get_os_display }}</td>
                    <td>{{ buildconfig.get_webserver_display }}</td>
                    <td>{{ buildconfig.get_build_type_display }}</td>
                    <td><a href="/projects/buildconfig/update/{{ buildconfig.id }}/"><button class="btn">Edit</button></a></td>
                    <td>
                        <form method="POST" action="/projects/buildconfig/delete/{{ buildconfig.id }}/">
                            {% csrf_token %}
                            <input type="submit" value="Delete" class="btn"/>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <p><a href="{% url gungnir-projects-buildconfig-create %}"  class="btn btn-primary btn-small"><i class="icon-plus-sign icon-white"></i> Add Config</a></p>

        </div>

    </div>
    </div>


    <div class="row">
    <div class="span9">

        <div class="well">
            <h4>Builds</h4>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Build Config</th>
                    <th>Instance / AMI Id</th>
                    <th>Create Time</th>
                    <th>Build Status</th>
{#                    <th></th>#}
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for build in app.builds.all %}
                <tr>
                    <td><a href="/projects/build/{{ build.id }}/">{{ build.config }}</a></td>
                    <td>{{ build.ami_id }} {{ build.instance_id }}</td>
                    <td>{{ build.created|date:"D d M Y" }}</td>
                    <td>{{ build.deploy_status }}</td>
{#                    <td><a href="/projects/build/update/{{ build.id }}/"><button class="btn">Edit</button></a></td>#}
                    <td>
                        <form method="POST" action="/projects/build/delete/{{ build.id }}/">
                            {% csrf_token %}
                            <input type="submit" value="Delete" class="btn"/>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <p><a href="{% url gungnir-projects-build-create %}"  class="btn btn-info btn-small"><i class="icon-ok icon-white"></i> Build It</a></p>
        </div>
    </div>
    </div>
    {% endfor %}

{% endblock %}



<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>App Type</th>
    </tr>
    </thead>
</table>
