{% extends "core/base.html" %}
{% block title %}Dashboard{% endblock %}

{% block navbar-left %}
    {{ block.super }}

{% endblock %}

{% block content %}
    <header class="jumbotron subhead" id="overview">
        <h2>Application Dashboard</h2>
        <p><br></p>
    </header>
    <a href="{% url gungnir-projects-application-create %}"><button class="btn">Add Application</button></a>

    {% for app in object_list %}
    <div class="page-header">
        <h2>{{ app.name }} ({{ app.get_app_type_display }})</h2>
    </div>


    <div class="row">
    <div class="span9">

        <div class="well">
            <h4>Repos</h4>
            button to add repo here, shoudl we list # of attached repos?


            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id? something to link to</th>
                    <th>repo url</th>
                    <th>watched branch</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for  repo in app.repos.all %}
                <tr>
                    <td><a href="/projects/repo/{{ repo.id }}/">{{ repo.id }}</a></td>
                    <td>{{ repo.url }}</td>
                    <td>{{ repo.branch }}</td>
                    <td><a href="/projects/repo/update/{{ repo.id }}/"><button class="btn">Edit</button></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{% url gungnir-projects-repo-create %}"><button class="btn">Create</button></a>
        </div>
    </div>
    </div>

    <div class="row">
    <div class="span9">
        <div class="well">
            <h4>BuildConfigs</h4>
            button to add buildconfig here, shoudl we list # of build configs?

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>repo entry</th>
                    <th>os</th>
                    <th>webserver</th>
                    <th>build type</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for buildconfig in app.buildconfigs.all %}
                <tr>
                    <td><a href="/projects/buildconfig/{{ buildconfig.id }}/">{{ buildconfig.repo }}</a></td>
                    <td>{{ buildconfig.get_os_display }}</td>
                    <td>{{ buildconfig.get_webserver_display }}</td>
                    <td>{{ buildconfig.get_build_type_display }}</td>
                    <td><a href="/projects/buildconfig/update/{{ buildconfig.id }}/"><button class="btn">Edit</button></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{% url gungnir-projects-buildconfig-create %}"><button class="btn">Create</button></a>
        </div>

    </div>
    </div>


    <div class="row">
    <div class="span9">

        <div class="well">
            <h4>Builds</h4>
            button to add create build here, shoudl we list # of builds?

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>build config</th>
                    <th>instance / ami_id</th>
                    <th>create time</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for build in app.builds.all %}
                <tr>
                    <td><a href="/projects/build/{{ build.id }}/">{{ build.config }}</a></td>
                    <td>{{ build.ami_id }} {{ build.instance_id }}</td>
                    <td>{{ build.created|date:"D d M Y" }}</td>
                    <td><a href="/projects/build/update/{{ build.id }}/"><button class="btn">Edit</button></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{% url gungnir-projects-build-create %}"><button class="btn">Create</button></a>
        </div>
    </div>
    </div>
    {% endfor %}

{% endblock %}



<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>App Type</th>
    </tr>
    </thead>
</table>
