.footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid
    #E5E5E5;
}

.jumbotron {
    position: relative;
}
.jumbotron h1 {
    margin-bottom: 9px;
    font-size: 81px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}
.jumbotron h2 {
    margin-bottom: 9px;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

.jumbotron p {
    margin-bottom: 18px;
    font-weight: 300;
}
.jumbotron .btn-large {
    font-size: 20px;
    font-weight: normal;
    padding: 14px 24px;
    margin-right: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.jumbotron .btn-large small {
    font-size: 14px;
}

.subhead {
    padding-bottom: 0;
    margin-bottom: 9px;
}
.subhead h1 {
    font-size: 54px;
}
.subhead h2 {
    color: #DD4814;
    font-size: 42px;
}

.alert {
    width:648px;
}